@font-face {
  font-family: 'arcadeclassicregular';
  src: url('../font/arcadeclassic-webfont.woff') format('woff2'),
    url('../font/arcadeclassic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.button-container {
  color: white;
  font-family: "arcadeclassicregular", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 350px;
}

button {
  color: white;
  font-family: "arcadeclassicregular", sans-serif;
  font-size: 56px;
  background-color: green;
  letter-spacing: 4px;
  border-radius: 4px;
  padding: 10px 25px;
  box-shadow: inset 0 0 10px #ffffff;
}

body {
  background-color: black;
}

.svg-img {
  width: 150px;
  display: none;
  margin-top: 500px;
}

.svg-container {
  margin-left: 50px;
}